body{

    background-color: gray;
    margin:0;
    padding: 0;
}

.wrapper{
width: :100%;
max-width:960px;
margin:0 auto;
background-color: white;

}


/* menu base styles*/

nav{

    background-color: #333;
    
}

nav ul{

    list-style-type: none;
    padding:0;
    color:white;
    
}

nav ul li a{

    text-decoration: none;
    color:white;
    display:block;
    padding: 10px;
    text-align: center;
   
   
}


nav a:hover{

    color:orange;
    background-color: green;
    
}

a.tw
{

    background: url(tw.png) no-repeat center;
    background-size: 80%;

}
a.fb
{

    background: url(fb.png) no-repeat center;
    background-size: 80%;

}
  


nav ul.social a{

    text-indent: -10000px;
   
   }



   nav ul.social
   {
flex: 1 1 0;
max-width:80px;
margin:0 auto;
display: flex;

   }


.social li{

    flex:1 1 0;
}


/* flex base style*/

@media screen and (min-width:768px)

{
nav ul{

    display:flex;
    justify-content: flex-start;
   
}


nav li{

    flex: 1 1 0;
}
nav{


    display:flex;
    justify-content: space-between;

}
nav ul.social{margin-top:15px;margin-right: 0;}


}
